/* style.css */

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* Ajout de styles pour le formulaire */
#formulaire-ajout-composant,
#formulaire-ajout-outil {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#formulaire-ajout-composant h2,
#formulaire-ajout-outil h2 {
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 1.1em;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

/* Style pour la liste des composants et outils */
#composants-list,
#outils-list {
  margin-top: 20px;
}

.composant,
.outil {
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.composant h3,
.outil h3 {
  margin-top: 0;
  font-size: 1.2em;
}

button {
  padding: 8px;
  margin-top: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.composant {
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.composant h3 {
  margin: 0;
  font-size: 1.2em;
}

.composant p {
  margin: 5px 0;
}

/* Style pour les pages de connexion et d'inscription */
#login-container,
#signup-container {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 50px auto;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 1.1em;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

button {
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

p {
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
